language: cpp

compiler:
  - gcc
  - clang

env:
  - BUILD_TYPE=Debug
  - BUILD_TYPE=Release

install:
  # Prerequisites
  - if [[ $CC == 'gcc' ]]; then sudo apt-get install gobjc++; fi 
  
script:
  - cmake -Hsamples -Bbuild -DCMAKE_BUILD_TYPE=$BUILD_TYPE
  - cd build
  - make