name: CI

on:
  push:
    paths-ignore:
      - .circleci/
      - .appveyor.yml
      - .cirrus.yml
      - .editorconfig
      - .gitignore
      - LICENSE
      - plog.nuspec
      - plog.targets
      - README.md
  pull_request:
    paths-ignore:
      - .circleci/
      - .appveyor.yml
      - .cirrus.yml
      - .editorconfig
      - .gitignore
      - LICENSE
      - plog.nuspec
      - plog.targets
      - README.md

permissions:
  contents: read

jobs:
  build:
    name: ${{ matrix.cxx }}, ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        include: [
          # linux: gcc
          { os: ubuntu-24.04,   cxx: g++-14 }, # (default on Noble 24.04)
          { os: ubuntu-22.04,   cxx: g++-11 }, # (default on Jammy 22.04)
          { os: ubuntu-latest,  cxx: g++-9,       image: conanio/gcc9 }, # (default on Focal 20.04)
          { os: ubuntu-latest,  cxx: g++-7,       image: conanio/gcc7 }, # (default on Bionic 18.04)
          { os: ubuntu-latest,  cxx: g++-5,       image: conanio/gcc5 }, # (default on Xenial 16.04)
          { os: ubuntu-latest,  cxx: g++-4.8,     image: conanio/gcc48 }, # (default on Trusty 14.04)
          # linux: clang
          { os: ubuntu-24.04,   cxx: clang++-18 },
          { os: ubuntu-latest,  cxx: clang++-6.0, image: conanio/clang60 },
          # windows: msvc
          # unfortunately, Visual Studio 2019 is not available on github-hosted runners anymore
          { os: windows-2022,   cxx: vs2022-x86,  generator: '-G "Visual Studio 17 2022" -A Win32' },
          { os: windows-2022,   cxx: vs2022-x64,  generator: '-G "Visual Studio 17 2022" -A x64' },
          # macos: clang
          { os: macos-15,       cxx: 'clang++' }
        ]

    uses: ./.github/workflows/build.yml
    with:
      image: ${{ matrix.image }}
      os: ${{ matrix.os }}
      cxx: ${{ matrix.cxx }}
      generator: ${{ matrix.generator }}
